body {
    margin: 0px;
    padding: 0px;
}

.header {
    justify-content: space-around;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: black;
    page-break-after: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url("logo3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.menu {
    display: flex;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 5px;
}

.menu ul {
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    
    display: block;
    color: tomato;
    margin-left: 10px;
    font-size: large;
    list-style: none;
    padding: 10px;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: tomato;
}

.capa {
    width: 100%;
    height: 600px;
    background-image: url("capa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    page-break-after: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.container1 {
    margin: 0 AUTO;
    max-width: 990PX;
    padding: 12px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.produto {
    background-color: orangered;
    width: 250px;
    margin: 10px;
    text-align: center;
    border: 6px solid black;
    overflow: hidden;
}

hr {
    height: 20PX;
    width: 600px;
    border: 1px solid orange;
    border-radius: 50px;
    background-color: tomato;
    margin-top: 25px;
}

.container-equipe {
    margin: 0 AUTO;

    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.equipe {
    background-color: #2a2a2a;
    width: 300px;
    height: 300px;
    margin: 15px;
    text-align: center;
    border: 6px solid black;
}

.equipe {
    display: flex;
    border-radius: 100%;
    background-image: url("vendedor.jpg");
    background-repeat: no-repeat;
    background-size: 480px;
    background-position-x: center;
    text-align: center;
}

.contato-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1100px;
   
    padding: 10px;
    justify-content: center;
    page-break-after: 20px;
   
}

.contato {
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    align-items: center;
    page-break-after: 20px;
 
}
.footer{
    flex-wrap: wrap;
    text-align: center;
    color: wheat;
    width: 100%;
    height: 150px;
    background-color: black;
}
.endereco{
    color:white;
    margin-top: 50px;
}
.img-zoom{
    transition: all 0.3s ;
    
}
.img-zoom:hover{
    transition: 0.3s;
    transform: scale(1.1);

}